body {
  font-family: LXGW WenKai Screen, PingFang SC, Hiragino Sans GB, Microsoft YaHei, "微软雅黑", sans-serif;
}

.prose {
  --tc: rgba(126, 106, 18, 0.781);
}
[data-theme=winter] {
  .prose {
    --tc: rgba(247, 221, 134, 0.781);
  }
}

html:not([data-theme=winter]) {
  .shadow-md {
    --tw-shadow: 0 0 4px rgba(224, 224, 224, 0.4);
  }
  .shadow-lg {
    --tw-shadow: 0 0 8px rgba(224, 224, 224, 0.6);
  }
}

#__imgZoomMask #__closeBtn {
  right: 20px !important;
}

.outlink-icon {
  display: inline-flex;
}

.project-title-link {
  text-decoration: none;
  svg {
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.4em;
    display: none;
    path {
      fill: currentColor;
    }
  }
  &:hover {
    text-decoration: underline;
    svg {
      display: inline-block;
    }
  }
}
.outlink-wrapper {
  margin-bottom: 0.6em;
  font-size: 0.8em;
  & > a {
    text-decoration: none;
    margin-right: 1.4em;
  }
}

.project-content {
  margin-bottom: 4em;
  summary {
    cursor: pointer;
    font-size: 0.9em;
    margin-top: 0.6em;
  }
  .howdy-component {
    li > p {
      margin: 0;
      font-size: 0.8em;
    }
  }
}

.title-decoration {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 2.8em;
    height: 40%;
    background-color: var(--tc);
    z-index: -1;
  }
}

.contact-list {
  svg {
    width: 1.2em;
    height: 1.2em;
    display: inline-block !important;
    margin-right: 0.4em;
    path {
      fill: currentColor;
    }
  }
}
