<footer class="footer footer-center p-4">
  <div>
    <p class="text-md text-base-content/70">
      &copy; {(new Date()).getFullYear()} –
      <a class="link" href="https://github.com/leon-kfd" target="_blank" style="margin-right: 8px">
        Leon.D
      </a> Powered by
      <a class="link" href="https://astro.build/" target="_blank">
        Astro
      </a>
    </p>
  </div>
</footer>
