<style lang="scss">
.to-top {
  position: fixed;
  right: 5vw;
  bottom: 2rem;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  background: #fff;
  z-index: 999;
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.04);
  cursor: pointer;
  box-sizing: border-box;
  transition: transform 0.4s ease-in, opacity 0.4s ease-in;
  transform: translateY(10px);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  &.active {
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.4s ease-in, opacity 0.4s ease-in;
  }
}
</style>

<div class="to-top" title="Back To Top">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
    <path d="M12 10.828l-4.95 4.95-1.414-1.414L12 8l6.364 6.364-1.414 1.414z" fill="#262626" />
  </svg>
</div>

<script is:inline>
const toTop = document.querySelector('.to-top');
const setToTopState = () => {
  if (window.scrollY > 100) {
    toTop.classList.add('active');
  } else {
    toTop.classList.remove('active');
  }
}
setToTopState();
window.addEventListener('scroll', setToTopState);
toTop.addEventListener('click', () => {
  window.scrollTo({ top: 0, behavior: 'smooth' });
})
</script>
